body {
     margin: 0;
     font-family: "Trebuchet MS", sans-serif;
     font-size:0.8em;
}
 nav {
     line-height: 20px;
     font-size: 16px;
     padding:10px;
}
 nav ul {
     margin:0;
     padding:0;
     list-style-type:none;
}
 nav ul li {
     display:inline;
}
 nav ul li a {
     padding:10px;
     text-decoration:none;
     color:#586374;
}
 nav ul li a:hover {
     color:#000;
}
 section#main {
     padding:20px;
}
 #heading-title{
     font-size: xx-large;
     margin-top:100px;
     color:#586374;
     margin-bottom: 20px;
     padding-bottom:15px;
     padding-top:80px;
     display: block ;
     flex-basis: auto ;
     display:flex;
}

#heading-title2{
    font-size: xx-large;
    margin-top:700px;
    align-content:right;
    color:#586374;
    margin-bottom: 20px;
    padding-bottom:15px;
    padding-top:80px;
    display: block ;
}
 #title{
     color: rgba(0, 0, 0, 0.84) ;
     display: block ;
     fill: rgba(0, 0, 0, 0.84) ;
     font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif ;
     font-size: 46px ;
     font-style: normal ;
     font-weight: 600 ;
     height: 48px ;
     letter-spacing: -1.33px ;
     line-height: 48px ;
     margin-bottom: 10px ;
     margin-left: 0px ;
     margin-right: 0px ;
     margin-top: 100px ;
     padding-bottom: 10px ;
     padding-top: 200px;
     text-rendering: optimizeLegibility ;
     text-size-adjust: 100% ;
     transform: matrix(1, 0, 0, 1, 0, -0.88) ;
     visibility: visible ;
     width: 924.125px ;
     -webkit-font-smoothing: antialiased ;
     -webkit-margin-after: 0px ;
     -webkit-margin-before: 0px ;
     -webkit-margin-end: 0px ;
}
 #title1 {
     color: rgba(0, 0, 0, 0.76) ;
     display: inline ;
     fill: rgba(0, 0, 0, 0.76) ;
     font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif ;
     font-size: 21px ;
     font-style: normal ;
     font-weight: 400 ;
     height: auto ;
     letter-spacing: normal ;
     line-height: 28px ;
     text-rendering: optimizeLegibility ;
     text-size-adjust: 100% ;
     transform: matrix(1, 0, 0, 1, 0, 0.12) ;
     visibility: visible ;
     width: auto ;
     padding-bottom: 50px;
     -webkit-font-smoothing: antialiased ;
}

#page1{
  padding-left: 10%;
  padding-right:10%;
  width: 1200px;
}

#articles {
  display:block;

}
